<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ModulePrestaDrol</name>
	<displayName><![CDATA[ModulePrestaDrol]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[View size product by price]]></description>
	<author><![CDATA[Drol]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
